@page
@model AdventurersModel
@{
    ViewData["Title"] = "Adventurers"; <!-- Set page title as Adventurers-->
}
<!-- sets page header-->
<div class="text-center">
    <h1>Available Adventurer Classes</h1>
</div>
<!-- creates a select form populated with adventurers-->
<form method="post">
    <select name="selectedAdventurer" asp-items="Model.AdventurerList" onchange="this.form.submit()">
        <option value="">-- Select an Adventurer --</option>
    </select>    
</form>
<!-- displays adventurers information based on selected adventurer-->
@if (Model.SelectedAdventurer != null)
{
    <h2>@Model.SelectedAdventurer.adv_Type</h2>
    <p>Race: @Model.SelectedAdventurer.adv_Race</p>
    <p>Health: @Model.SelectedStats.Health</p>
    <p>Speed: @Model.SelectedStats.Speed</p>
    <p>Exp: @Model.SelectedStats.Exp</p>

    <p style="text-align: center;border:2px solid;width:600px;word-wrap: break-word;float:right;font-size:35px;">Description: @Model.SelectedAdventurer.Desc</p>
    <img style="object-fit:contain;"src="/aImages/@Model.SelectedAdventurer.ImageFileName" alt="@Model.SelectedAdventurer.adv_Type" width="500" height="500" class="center">
}